<%- include('partials/_header') -%> <%- include('partials/_navbar.ejs') -%>

<section id="edit" class="edit">
	<h1 class="text-lg uppercase text-center my-1 pt-1">PROFILE SETTINGS</h1>

	<div class="edit__content container">
		<% if(user) { %>
		<div class="edit__img">
			<img
				src="<%= user.photo %>"
				id="user-photo"
				alt="<%= user.firstName %>"
			/>
			<p class="loading uppercase text-lg"></p>

			<div>
				<label class="file-upload">
					<input type="file" id="pic" />
					<i class="fa fa-upload"></i>
					Change Photo
				</label>
			</div>
		</div>

		<form class="edit__form" id="edit__form">
			<div class="grid grid-2 gap-2">
				<div>
					<label for="firstName">First Name</label>
					<input
						type="text"
						placeholder="First Name"
						class="input w-full"
						name="firstName"
						value="<%= user.firstName %>"
						required
					/>
				</div>
				<div>
					<label for="lastName">Last Name</label>
					<input
						type="text"
						name="lastName"
						placeholder="Last Name"
						class="input w-full"
						value="<%= user.lastName %>"
					/>
				</div>
			</div>
			<div>
				<label for="email">Email</label>
				<input
					type="email"
					name="email"
					class="input w-full"
					placeholder="Enter new email"
					value="<%= user.email %>"
					required
				/>
			</div>
			<div>
				<label for="bio">Bio</label>
				<textarea
					name="bio"
					id="bio"
					class="input w-full"
					placeholder="Max 200 word!"
				>
<%= user.bio %> </textarea
				>
			</div>
			<input type="text" hidden value="<%= user._id %>" name="userId" />
			<input
				type="text"
				name="photo"
				value="<%= user.photo %>"
				hidden
				id="photo"
			/>
			<button class="btn btn-green uppercase w-full">Update Profile</button>
		</form>
		<% } %> <% if(google) { %>
		<div class="edit__img">
			<img
				src="<%= google.photo %>"
				id="google-photo"
				alt="<%= google.firstName %>"
			/>
			<p class="loading uppercase text-lg"></p>

			<div>
				<label class="file-upload">
					<input type="file" id="pic" />
					<i class="fa fa-upload"></i>
					Change Photo
				</label>
			</div>
		</div>

		<form class="edit__form" id="edit__form">
			<div class="grid grid-2 gap-2">
				<div>
					<label for="firstName">First Name</label>
					<input
						type="text"
						placeholder="First Name"
						class="input w-full"
						name="firstName"
						value="<%= google.firstName %>"
						required
					/>
				</div>
				<div>
					<label for="lastName">Last Name</label>
					<input
						type="text"
						name="lastName"
						placeholder="Last Name"
						class="input w-full"
						value="<%= google.lastName %>"
					/>
				</div>
			</div>
			<div>
				<label for="email">Email</label>
				<input
					type="email"
					name="email"
					class="input w-full"
					placeholder="Enter new email"
					value="<%= google.email %>"
					required
				/>
			</div>
			<div>
				<label for="bio">Bio</label>
				<textarea
					name="bio"
					id="bio"
					class="input w-full"
					placeholder="Max 200 word!"
				>
    <%= google.bio %> </textarea
				>
			</div>
			<input type="text" hidden value="<%= google._id %>" name="userId" />
			<input
				type="text"
				value="<%= google.photo %>"
				name="photo"
				hidden
				id="photo"
			/>
			<button class="btn btn-green uppercase w-full">Update Profile</button>
		</form>

		<% } %>
	</div>
</section>

<%- include('partials/_footer') -%>
