<%- include('partials/_header') -%> <%- include('partials/_navbar') -%>
<section id="profile" class="profile">
	<div class="container profile__content">
		<div class="profile__img">
			<img src="<%= profile.photo %>" alt="<%= profile.firstName %> photo" />
		</div>

		<div class="profile__info">
			<input type="text" hidden id="profileId" value="<%= profile._id %>" />
			<div class="flex flex-align">
				<h2 class="text-xlg">
					<%= profile.firstName %> <%= profile.lastName %>
				</h2>
			</div>
			<p><%= profile.bio || 'Download high quality images from this user' %></p>
			<% if(profile.bio === '') { %>
			<p>
				Download high quality pictures from
				<strong><%= profile.firstName %> </strong>
			</p>
			<% } %>
			<div class="profile__links">
				<% profile.links.forEach(function(link){ %>
				<a href="<%= link %>"><%= link %> </a>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="container profile__activity">
		<nav>
			<p class="active"><i class="fas fa-images"></i> Photos</p>
			<p><i class="fas fa-heart"></i> Likes</p>
		</nav>

		<div class="profile__photos">
			<% photos.forEach(function(photo) { %>
			<div>
				<% if(user) { %> <% if(photo.user) { %>
				<i class="fas fa-trash delete"></i>
				<% } %> <% } %> <% if(google && google.googleId) { %> <%
				if(photo.google) { %>
				<i class="fas fa-trash delete"></i>
				<% } %> <% } %>

				<img src="<%= photo.url %>" alt="<%= photo.name %>" />
			</div>
			<% }) %>
		</div>
	</div>
</section>
<%- include('partials/_footer') -%>
